:root {
  --primary-color: #326291;
  --light-bg-color: rgba(50, 98, 145, 0.15);
  --text-color: #212121;
  --white-color: #ffffff;
  --secondary-color: #8baabd;
  --footer-text-color: #ffffff;
}

html, body {
  padding-top: 80px;
  height: 100%;
  margin: 0;
  font-family: 'Noto Sans TC', sans-serif;
  background-color: var(--white-color);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* CSS for section section:header */
.site-header {
  background-color: var(--white-color);
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 80px;
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.logo img {
  display: block;
  height: 50px;
  width: auto;
  top: 20px;
  left: 20px;
}

.main-nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 40px;
}

.main-nav a {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: var(--text-color);
  transition: color 0.3s ease;
}

.main-nav a:hover {
  color: var(--primary-color);
}

.mobile-nav-toggle {
  cursor: pointer;
  position: relative;
  width: 36px;
  height: 36px;
  top: 0px;
  right: 0px;
  display: none;
}

.mobile-nav-toggle span {
  opacity: 0;
  width: 1px;
  height: 1px;
  display: block; 
 } 
  
.mobile-nav-toggle::before {
  content: "";
  position: absolute;
  background-color: black;
  height: 2px;
  width: 24px;
  top: 18px;  
  box-shadow: 0px 8px 0px black, 0px -8px 0px black;
  right: 8px;
 } 

#menu_control {
  display: none;
} 
    
@media (max-width: 768px) {
  body {
    padding-top: 80px;
  }
  .main-nav {
    position: fixed;
    flex-direction: column;
    background-color: #326291;
    top: 80px;
    width: 50%;
    height: calc(100vh - 80px);
    padding: 40px;
    right: -100%;
    transition: right 0.8s ease-in-out;
  }
  
  .main-nav::-webkit-scrollbar {
    display: none;
  }

  .main-nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
  }
    
  .main-nav a {
    writing-mode: horizontal-tb;
    color: white;
    padding: 10px 20px;
  }

  .main-nav a:hover {
    color: var(--secondary-color);
  }
    
  .mobile-nav-toggle {
    display: block;  
  }

  #menu_control:checked ~ .main-nav {
    right: 0px;
  }
}

.container {
  min-height: 100%;
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section-title {
  color: var(--primary-color);
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 900;
  font-size: 36px;
  text-align: center;
  margin: 0 0 50px 0;
  }

.gallery {
  height: 450px;
  width: 800px;
  position: relative;
}

.image-slider {
  height: 100%;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  display: flex;
}

img {
  width: 100%;
  flex-shrink: 0;
  scroll-snap-align: center;
}

.indicators {
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
}

.indicator {
  border-radius: 50%;
  background-color: lightgray;
  height: 10px;
  width: 10px;
  cursor: pointer;
}

.active {
  background: #ffffff;
  height: 16px;
  width: 16px;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .section-title {
  color: var(--primary-color);
  font-weight: 900;
  font-size: 28px;
  text-align: center;
  }
}
