:root {
  --color-text-primary: #212121;
  --color-background: #ffffff;
  --color-footer-bg: #326291;
  --font-primary: 'Noto Sans', sans-serif;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  background-color: var(--color-background);
  color: var(--color-text-primary);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden; /* To contain box-shadows */
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}